body {
	background-color: #52596B;
	background-image: url("../images/stripes.png"), url("../images/background.jpg");
	background-repeat: repeat-x, no-repeat;
	font-weight: 100px;
	
	}
header {
margin-bottom: 15px;
}
hr {
	margin: 0px;
	width: 75px;
	border-color: #D96254;
}

p {
	font-family: helvetica;
	color: white;
	font-size: 20px;

}
.wrapper {
	margin-left: 150px;
	margin-top: 300px;

}
